
<% if(success && success.length){ %>
    <div id="flashSuccess" class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
    <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

<%}%>

<% if(error && error.length){ %>
  <div id="flashError" class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
  <%= error %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<%}%>
<script src="./js/flash.js"></script>
